@font-face {
  font-family: myFirstFont;
  src: url('../assets/raleway-light.woff') format('woff');
}

html, body{
    background-color: black;
    margin: 0;
    padding: 0;
}

main {
    height: 100%;
    text-align: center;
}

header {
    width: 100%;
}

h1 {
    color: white;
    font-family: myFirstFont;
    padding-bottom: 0px;
    margin-bottom: 0;
    font-size: 40px;
}

aside {
    color: white;
    display: inline-block;
    font-family: myFirstFont;

}

address {
    position: absolute;
    display: inline-block;
    right: 1%;
}

.nav {
    font-family: myFirstFont;
    letter-spacing: 4px;
    top: 0px;
    text-align: center;
}
.nav a:hover:active {
    background-color: white;
    color: black;
    cursor: pointer;
}
.nav li {
    display: inline;
    margin-left: 50px;
    margin-right: 50px;
}
.nav a {
    padding: 0.8em;
    border: 1px solid black;
    display: inline-block;
    text-decoration: none;
    border-radius: 0.7em;
}
.nav a:hover {
    border: 1px solid white;
    border-radius: 0.7em;
}

.nontb:link {
  color: white;
}

.nontb:visited {
  color: white;
}

.nontb:hover {
  color: white;
}

.nontb:active {
  color: white;
}

article {
    text-align: center;
    font-size: 30px;
    color: white;
    font-family: myFirstFont;
    margin: 10%;
}

hr{
    background-color: white;
    margin-top: 1%;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

.table{
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
    border-spacing: 25px;
    font-family: myFirstFont;
    color: white;
}

.table tr td{
    width: 40%;
    vertical-align: top;
}

.table tr td div a img{
    background-image: url("../assets/background.jpeg");
    width: 100%;
    margin-left: 0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.table tr td div{
    width: 40%;
    margin: auto;
}

.table tr td div:hover {
    transform: scale(1.15);
}

.table tr td div article{
    text-align: center;
    margin-top: 0px;
    margin-left: 0;
    width: 100%;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: white;
    font-size: 20px;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}
